@model IEnumerable<SistemaDePermissao.Models.usuario>

@{
    ViewData["Title"] = "usuarios";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
</head>

<h1>Lista de Usuários</h1>

<p>
    <a asp-action="Create">Criar novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoDeUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoDeUsuario.Id)
            </td>
            <td>
                <a icon class="far fa-edit" asp-action="Edit" asp-route-id="@item.UsuarioID"></a> |
                <a icon class="fas fa-info-circle" asp-action="Details" asp-route-id="@item.UsuarioID"></a> |
                <a icon class="far fa-trash-alt" asp-action="Delete" asp-route-id="@item.UsuarioID"></a>
            </td>
        </tr>
}
    </tbody>
</table>
